{% extends "layout.html" %}

{% block content %}

<script>
    let artists = {{artists|tojson}}
</script>
<script type="module" src="{{ url_for('static', filename = 'liked_artists.js') }}"></script>

<div id = "home-container">
    <h2>My Artists</h2>    
    <div id="liked-artists-container" class="section-card">
        {% if artists %}
            {% for artist in artists %}
                <div data-artist-id = {{artist[1]}}>
                    {{artist[0]}}
                </div>
            {% endfor %}
        {% else %}
            <div>Nothing to see here...</div>
        {% endif %}
    </div>
</div>

{% endblock %}