{% extends "layout.html" %}

{% block content %}

<script>
    let playlists = {{playlists|tojson}}
</script>
<script type="module" src="{{ url_for('static', filename = 'liked_playlists.js') }}"></script>

<div id = "home-container">
    <h2>My Playlists</h2>    
    <div id="liked-playlists-container" class="section-card">
        {% if playlists %}
            {% for playlist in playlists %}
                <div data-playlist-id = {{playlist[1]}}>{{playlist[0]}}</div>
            {% endfor %}
        {% else %}
            <div>Nothing to see here...</div>
        {% endif %}
    </div>
</div>

{% endblock %}