{% extends "layout.html" %}

{% block content %}

<script type="module" src="{{ url_for('static', filename = 'search.js') }}"></script>

<div id = "home-container">
    <div id = "welcome-section" class="section-card">
        <h1>Welcome, {{user.username}}!</h1>
    </div>
    
    <div id="recommendations-container" class="section-card">
        <h2><i class="bi bi-compass"></i> For you</h2>
        <div id="recommendations" class="card-container">
            <!-- dynamic population -->
        </div>
    </div>
</div>

{% endblock %}