{% extends "layout.html" %}

{% block content %}

<script type="module" src="{{ url_for('static', filename = 'search.js') }}"></script>

<div id = "home-container">
    <div id="search">
        <input id="search-bar" type="text" placeholder="Search..">
    </div>
    
    <h2>Search Results</h2>
    <div id="search-results">
        <!-- <div class="section-card">
            <button class="search-results-btn btn btn-toggle collapsed nav-btn" data-bs-toggle="collapse" data-bs-target="#songs-results" aria-expanded="false">
                <h3>Songs</h3>
            </button>
            <div id="songs-results" class="collapse">
                
            </div>     
        </div> -->
    </div>
</div>

{% endblock %}